nav {
  color: blue !important;
}

.bg-default-img {
  background-image: url("/images/nature1.jpg");
  background-size: 100%;
  font-weight: bold !important;
}
.bg-default-img2 {
  background-image: url("/images/nature2.jpg");
  background-size: 100%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.bg-form-img {
  background-image: url("/images/Unite.png");
  background-size: 100%;
  height: 100%;
}
.text-form {
  color: rgb(7, 5, 5);
  font-size: large;
  text-decoration: underline;
}
.nav-link:hover {
  text-decoration: underline;
  color: rgb(150, 37, 37) !important;
  background-color: rgb(225, 245, 170);
  border-radius: 35px;
  border-color: aqua;
  text-shadow: 2px 5px 5px #e759d0;
  cursor: pointer;
}

.active {
  background-color: rgb(15, 11, 221);
  border-radius: 35px;
  border-color: aqua;
  color: white !important;
}
.card-footer {
  justify-content: last baseline !important;
  text-align: left !important;
}
.ql-editor {
  overflow-y: scroll;
  resize: vertical;
}
.ql-editor {
  min-height: 12em;
}
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}
.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}
.ql-bubble.ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.size {
  width: 15px;
  font-size: 24px;
}
.size:hover {
  cursor: pointer;
}
.size2 {
  width: 25px;
  font-size: 20px;
  margin-right: 5px;
}
.size2:hover {
  cursor: pointer;
}
.margin {
  margin-right: 24%;
}
.size3 {
  font-size: 25px;
}
.btnDropNav {
  border-radius: 45%;
}
.size4 {
  font-size: 29px;
}
.dp:hover {
  cursor: pointer;
}

.margintop {
  margin-top: 10px !important;
}
.follow:hover {
  background-color: aquamarine;
  cursor: pointer;
}
.scrollbar {
  overflow-y: hidden;
  overflow-x: scroll;
}
.scrollbar::-webkit-scrollbar {
  height: 4px;
  background-color: darkslategrey;
}

.activeDot {
  margin-left: 71%;
  margin-bottom: 40px;
  margin-top: -13px;
  border: 1px solid rgb(252, 249, 249);
}
